{% load static %}
{% static 'images' as baseimg %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeel Mehta To-do App</title>
    <link rel="icon" href="{{baseimg}}/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="jumbotron text-center" style="margin: 0;">
        <h1>To-Do App</h1>
        <p class="text-right">Made by -<i>ZEEL MEHTA</i></p>
    </div>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark mb-5">
        <a class="navbar-brand" href="#"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">Welcome <i>{{user|upper}}</i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}

    {% for message in messages %}
    <script>
        alert('{{ message }} ')
    </script>
    {% endfor %}

</body>

</html>